<mat-divider></mat-divider>
<br><br><br>
<footer>
  <div fxLayout="row wrap" fxLayout.xs="column wrap" fxLayoutAlign="center center">
    <div class="subFT" fxFlex="35%" fxFlex.xs="100%" fxLayout="row wrap" fxLayoutGap="20px" fxLayoutGap.xs="0px" 
      fxLayoutAlign="start center">
      <button mat-button disabled> Contacto : +57 3008528705 </button>
      <button mat-button disabled name="Email : jeff@gmail.com"></button>
    </div>

    <mat-divider fxFlex="100%" style="background-color: gray;"></mat-divider>

    <div class="subFT" fxFlex="70%" fxFlex.xs="100%" fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="20px">
        <button mat-icon-button><mat-icon>facebook</mat-icon></button>
        <button mat-icon-button><mat-icon>tiktok</mat-icon></button>
    </div>

    <div class="ft-legal" fxFlex="100%" fxFlex.xs="100%" fxLayout="row wrap" fxLayoutAlign="center center">
      <a href="#">Terms &amp; Conditions</a>
      <a href="#" style="margin-left: 20px;margin-right: 20px;">Privacy Policy</a>
      <a style="color: gray;">&copy; 2023 Copyright Digital Solutions</a>
    </div>

  </div>
</footer>